html {
    height: 100%;
    background-color: #5C80BC;
}

body .players {
    min-height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    background: #FBCA1F;
    text-align: center;
    padding: 0.3em 3em;
    font-weight: 900;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 12rem);
    grid-template-rows: repeat(3, 12rem);
    border-radius: 25px;
    justify-content: center;
    margin: 0;
    
}

.grid button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: rgb(34, 34, 34);
    border-radius: 5px;
    cursor: pointer;
}
  
.grid button:hover {
    background: #e0e0e0;
    -webkit-box-shadow: inset 10px 10px 30px #bebebe, inset -10px -10px 30px #ffffff;
    box-shadow: inset 10px 10px 30px #bebebe, inset -10px -10px 30px #ffffff;
}

.grid button:focus {
    outline-color: #074F57;
}

.wrap{
    display: flex;
    align-items: center;
    justify-items: center;
}

.input {
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: monospace;
    max-width: 190px;
    outline: none;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f7fe;
    transition: .3s;
    color: #3b82f6;
}
  
.input:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 0 4px #3b83f65f
}

.restart {
    margin: auto;
    position: relative;
    margin-top: 100px;
    left: 44.5%;
    transform: translateX(-50%);
    color: #ff1433;
}

@media (max-width: 768px) {
    .restart {
        display: flex;
        align-items: center;
        justify-items: center;
        position: relative;
        margin-top: 100px;
        top: -20%;
        left: 35%;
        transform: translateX(-50%);
        color: #f63b3b;
    }
}

.players {
    margin-top: 15px;
    margin-left: 7.5em;
}

.wrap .submit{
    margin-left: 20px;
    margin-bottom: 60px;
}


.btn {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
    cursor: pointer;
}

.restart{
    color: #1d498f;
}

.btn:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}